{% if messg %}
<script>
  alert(' {{messg}} ');
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign</title>
</head>
<body>

  <form action="/postsignup/" method="POST">
    {% csrf_token %}
    Name:
    <input type="text" name="name"><br><br>
    Email:
    <input type="email" name="email"><br><br>
    Password:
    <input type="password" name = "pass"><br><br>
    <input type = "submit" value="SIgnUp">
  </form>

</body>
</html>
